body {
  padding: 0;
  margin: 0;
  width: 100%;
}

h2.title {
  border-bottom: 2px solid #dddddd;
}

div.header {
  text-align:center;
  font-weight: bold;
}

div.content {
  padding: 1em 0;
  border-bottom: 2px solid #dddddd;
}

ul.index {
  list-style: none;
  padding: 0;
}

ul.index li {
  padding: 4px;
}

ul.index a {
  letter-spacing: 1px;
  word-spacing: 2px;
}

ul.index li span {
  display: block;
  float: right;
}

a:link {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

div.content>p {
  margin: 2em 0;
}

#outer-wrapper {
  width: 40em;
  margin: 2em auto;
}

dt {
  font-weight: bold;
  margin: 2em 0 0.5em;
}

div[lang="zh"] p {
  line-height: 160%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

p code,
li>code {
  border: 1px solid #cccccc;
  background: #eeeeee;
  border-radius: 0.25em;
  margin: 0 2px;
}

blockquote {
  border-left: 2px solid #cccccc;
  padding-left: 1em;
}






