body {
  padding: 0;
  margin: 0;
  width: 100%;
}

h2.title {
  border-bottom: 2px solid #dddddd;
}

div.header {
  text-align:center;
  font-weight: bold;
}

div.content {
  padding: 1em 0;
  border-bottom: 2px solid #dddddd;
}

ul.posts {
  list-style: none;
  padding: 1em 2em;
}

ul.posts li {
  padding: 4px;
}

ul.posts a {
  letter-spacing: 1px;
  word-spacing: 2px;
}

ul.posts li span {
  display: block;
  float: right;
}

a:link {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

p {
  margin: 2em 0;
  line-height: 160%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

#outer-wrapper {
  width: 40em;
  margin: 2em auto;
}

