.highlight .hll { }
.highlight .c { color: #9ECE9E; }
.highlight .err { color: #E89393; }
.highlight .g { color: #9ECE9E; }
.highlight .k { color: #DFAF8F; font-weight: bold; }
.highlight .l { color: #CCCCCC; }
.highlight .n { color: #DCDCCC; }
.highlight .o { color: #9ECE9E; }
.highlight .x { color: #CCCCCC; }
.highlight .p { color: #9ECE9E; }
.highlight .cm { color: #9ECE9E; }
.highlight .cp { color: #9ECE9E; }
.highlight .c1 { color: #9ECE9E; }
.highlight .cs { color: #cd0000; font-weight: bold; }
.highlight .gd { color: #cd0000 }
.highlight .ge { color: #CCCCCC; }
.highlight .gr { color: #FF0000 }
.highlight .gh { color: #DCDCCC; font-weight: bold; }
.highlight .gi { color: #C0BED1; }
.highlight .go { color: #808080 }
.highlight .gp { color: #DCDCCC; font-weight: bold; }
.highlight .gs { color: #CCCCCC;; font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #0040D0; }
.highlight .kc { color: #E89393; }
.highlight .kd { color: #DFAF8F; font-weight: bold; }
.highlight .kn { color: #DFAF8F; font-weight: bold; } 
.highlight .kp { color: #F0DFAF; }
.highlight .kr { color: #F0DFAF; }
.highlight .kt { color: #C0BED1; }
.highlight .ld { color: #E89393; }
.highlight .m { color: #8CD0D3; }
.highlight .s { color: #E89393; }
.highlight .na { color: #DCDCCC; }
.highlight .nb { color: #F0DFAF; }
.highlight .nc { color: #F0DFAF; }
.highlight .no { color: #CCCCCC; }
.highlight .nd { color: #CCCCCC; }
.highlight .ni { color: #E89393; }
.highlight .ne { color: #F0DFAF; font-weight: bold; } 
.highlight .nf { color: #F0DFAF; } 
.highlight .nl { color: #CCCCCC; }
.highlight .nn { color: #8CD0D3;; }
.highlight .nx { color: #CCCCCC; }
.highlight .py { color: #CCCCCC; }
.highlight .nt { color: #9ECE9E; }
.highlight .nv { color: #DCDCCC; }
.highlight .ow { color: #9ECE9E; }
.highlight .w { color: #CCCCCC; }
.highlight .mf { color: #8CD0D3; }
.highlight .mh { color: #8CD0D3; }
.highlight .mi { color: #8CD0D3; }
.highlight .mo { color: #8CD0D3; }
.highlight .sb { color: #E89393; }
.highlight .sc { color: #E89393; }
.highlight .sd { color: #E89393; }
.highlight .s2 { color: #E89393; }
.highlight .se { color: #E89393; }
.highlight .sh { color: #E89393; }
.highlight .si { color: #E89393; }
.highlight .sx { color: #E89393; }
.highlight .sr { color: #E89393; }
.highlight .s1 { color: #E89393; }
.highlight .ss { color: #E89393; }
.highlight .bp { color: #F0DFAF; }
.highlight .vc { color: #F0DFAF; }
.highlight .vg { color: #DCDCCC; }
.highlight .vi { color: #F0DFAF; }
.highlight .il { color: #8CD0D3; }
