{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="title">
<h1>{{ article.title }}</h1>
{{ article.date.strftime('%Y-%m-%d') }}
<div>{{ article.tags|join(', ') }}</div>
</div>
<div class="content" lang="{{ article.lang }}">
{{ article.content }}
</div>

{% if PUBLISH %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '/{{ article.date.strftime("%Y/%m") }}/{{ article.slug }}';
    var disqus_url = '{{ SITEURL }}/{{ article.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
{% endblock content %}

